body {
    background-color: rgb(10, 195, 220); /* Change to your preferred background color */
  }
  
  h1 {
    text-align: center;
    color: rgb(16, 97, 164);
    padding: 10px;
    transition: color 0.3s;
  }
  
  h1:hover {
    color: rgba(208, 19, 19, 0.45); /* Change to your preferred glowing color */
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 250px;
    height: 40px;
    box-sizing: border-box;
  }
  
  input[type="password"] {
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #0f75a1;
  }
  
  input[type="submit"]:focus {
    outline: none;
  }
  
  @media only screen and (max-width: 600px) {
    .form-section {
      width: 100%;
    }
  
    input[type="text"],
    input[type="date"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type="submit"] {
      width: 100%;
    }
  }
  